@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root{
    --primary-color: #475569;
}
*{
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    background-color: #fff;
    box-shadow: 0 0 10px #00000035;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--primary-color);
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    
}

.search-bar{
    position: relative;
    flex-basis: 35%;
}
.search-input{
    padding: 9px 10px;
    width: 100%;
    font-size: 15px;
    color: var(--primary-color);
    letter-spacing: 0.5px;
}

.search-input:focus{
    outline: none;
}

.search-icon{
    position: absolute;
    right: 0;
    top: 5px;
    top: 8px;
    margin-right: 5px;
    color: var(--primary-color);
    cursor: pointer;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.nav-list span{
    color: #fff;
}

.login-btn{
    padding: 7px 12px;
    font-size: 15px;
    color: var(--primary-color);
    cursor: pointer;
    letter-spacing: 0.5px;
}

.heading{
    padding-top: 70px;
    text-align: center;
    color: var(--primary-color);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.filed{
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.card-title{
    font-size: 20px;
    font-weight: 500;
}

.card-pera{
    font-size: 15px;
    line-height: 0;
    color: #00000070;
}

.card-price{
    font-size: 18px;
    font-weight: 500;
}

.price-line-through{
    text-decoration: line-through;
    color: #00000060;
}

.discount{
    color: #008000ce;
    font-size: 14px;
}

.btn{
    padding: 0.3rem;
    margin-top: 10px;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-btn{
    background-color: #059669;
}

.buy-btn{
    background-color: #d97706;
}

.btn-link{
    text-decoration: none;
}

footer{
    margin-top: 10px;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    /* text-decoration: none; */
    color: #fff;
}